.thumbnail-tag {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.thumbnail-tag-with-subtag {
    display: inline-block;
    cursor: pointer;
    margin: 4px 2px;
}

.thumbnail-tag-with-subtag .pillbox-left{
    border: none;
    padding: 5px 15px 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 0 4px;
    border-radius: 16px 0 0 16px;
}

.thumbnail-tag-with-subtag .pillbox-right{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 20px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 4px 0;
    cursor: pointer;
    border-radius: 0 16px 16px 0;
}

/* Using Color Palette from */
/* https://coolors.co/palette/262949-045459-087353-abd96d-fbbf54-ee6b3b-ec0f47-a02c5d-700460 */

.tag-av {
    background-color: #ec0f47;
    color: white;
}

.tag-fho_hands .tag-fho_lta .tag-fho_scod .tag-fho_sta {
    background-color: #087353;
    color: white;
}

.tag-moments {
    background-color: #fbbf54;
    color: white;
}

.tag-narrations {
    background-color: #700460;
    color: white;
}

.tag-nlq {
    background-color: #045459;
    color: white;
}

.tag-vq {
    background-color: #ee6b3b;
    color: white;
}

.tag-fho_hands,
.tag-fho_lta,
.tag-fho_scod,
.tag-fho_sta {
    background-color:#3c4177;
    color: white;
}


.mini-thumbnail {
    height: 25vh;
    position: relative;
    transition: ease transform, box-shadow 0.1s;
    border-radius: 3px;
    overflow: hidden;

    .mini-info {
        color: white;
        position:absolute;
        bottom:0;
        right: 0;
        z-index: 1;
        transition: ease all 0.5;
        bottom: -500;
    }

    &:hover {
        box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 2px 4px rgb(16 22 26 / 20%), 0 8px 24px rgb(16 22 26 / 20%);
        cursor: pointer;
        transform: translateY(-5px);

        .mini-tags {
            transform: translateY(0);
        }
    }
}
