#all-item-view-wrapper {
    margin-top: 90px;
    background: white;
}

.main-tabs {
    padding-top:20px;

    .bp3-tab-list {
        justify-content: center;
    }
}

.nav-info-important {
    color: rgb(110, 83, 220);
}

.bp3-tab:not([aria-disabled=true]):hover, .bp3-tab[aria-selected=true] {
    color: rgb(110, 83, 220) !important;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
    background-color: rgb(110, 83, 220) !important;
}

.nav-benchmark-opt {
    padding: 2px 5px;
    margin: 0 2px;
    border: solid 1px #182026;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    opacity: 0.7;

    &:hover:not(.active) {
        background: #ddd;
        opacity: 1;
    }

    &.active {
        border: none;
        padding:3px 6px;
        opacity: 1;
    }
}
