#all-item-view-wrapper {
    margin-top: 110px;
    background: white;
}

.main-tabs .bp3-tab-list {
    justify-content: center;
}

.nav-info-important {
    color: rgb(110, 83, 220);
}

.bp3-tab:not([aria-disabled=true]):hover, .bp3-tab[aria-selected=true] {
    color: rgb(110, 83, 220) !important;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
    background-color: rgb(110, 83, 220) !important;
}
