.navbar-wrapper {
    margin-top:18px;
}
.early-access-header {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 99999;
    text-align: center;
    color: white;
    background: rgb(110, 83, 220);
}
