.video-toolip {
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    transform: translateY(-10px);
}

.video-tooltip-category {
    /* padding: 10px; */
    margin:0;
    background: rgba(255,255,255,0.7);
}
