.browse-controls {
    display: flex;
    margin-left: auto;
    margin-right: 12.5vw;

    .mode-switcher {
        > * {
            margin: 0 3px;
        }
    }
}

.pagenum-option {
    cursor: pointer;
    padding: 3px 10px;
    &:hover, &.active {
        background: rgb(233, 233, 233);
    }
}
