a, a:hover {
    color: rgba(110, 83, 220);
}

.bp3-button.bp3-intent-primary {
    background-color: rgb(106, 82, 202) !important;
}

.bp3-button.bp3-intent-primary:hover {
    background-color: rgb(95, 70, 196) !important;
}
